<!DOCTYPE html>
<html lang="en">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<head>
    <meta charset="UTF-8">
    <title>Covid tracker</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">COVID TRACKER</a>
            <button onclick="window.location.href='/update';" type="button" class="btn btn-primary">Refresh
                data</button>
        </div>
    </nav>
    <main class="d-flex justify-content-center">
        <div class="container">
            <table id="table" class="table">
                <caption>Covid Statistics</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Country</th>
                        <th>Confirmed</th>
                        <th>Deaths</th>
                        <th>Stringency actual</th>
                        <th>Stringency</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for record in records %}
                    <tr>
                        <td>{{ record.date_value }}</td>
                        <td>{{ record.country_code }}</td>
                        <td>{{ record.confirmed }}</td>
                        <td>{{ record.deaths }}</td>
                        <td>{{ record.stringency_actual }}</td>
                        <td>{{ record.stringency }}</td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () { $('#table').DataTable({ "order": [[3, "asc"]] }); });
    </script>
</body>

</html>